@using Ajax.NET
@{
    ViewBag.Title = "Home Page";
}
@Html.AjaxScriptsFor(this.ViewContext.Controller)
<script type="text/javascript">
    function TestAjax() {
        HomeController.AjaxSample().then((result) => alert(result));
    }
</script>
<div class="row">
    <button onclick="TestAjax()">Test Ajax</button>
</div>